*{
    margin:0;
    padding:0;
}

.fundo{
    background-image: linear-gradient(45deg, pink, blue);
    height: 100vh;
    color: black;
    font-family: arial;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(15, 44, 82, 0.3);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    font-family: arial;
    color: rgb(255, 255, 255);
}
.botao{
    background-color: black;
    color:white;
    font-family: Arial;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 8px;
    margin:2px;
}
.botao:active{
    background-color: white;
    color:black;
}
.botao:hover{
    background-color:rgba(113, 11, 138, 0.671);
}
#resultado{
    width:205px;
    height:30px;
    background-color: rgba(0, 0, 0, 0.795);
    text-align: right;
    margin: 5px;
    font-size: 25px;
    font-family: arial;
    padding:5px;
    color: white;
    font-weight: bold;
    overflow:hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
}
#resultado:hover{
    cursor: text;
}